{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content_left %}
    <form action="/result" method="post">
        <textarea 
            name="sentiment" id="sentiment" rows="6" 
            placeholder="Tell me 'bout your feeling here..."
            class="form-control bg-transparen t"
            required
        ></textarea>
        <button class="btn btn-outline-info mt-3">
            <i class="fa-solid fa-user-doctor"></i>
            <span class="ms-1">Check My Mental Health</span>
        </button>
    </form>
{% endblock %}
{% block content_right %}
    <input 
        name="result" id="result"
        placeholder="Your predicted mental health will show here..."
        class="form-control bg-transparen t mb-3"
        disabled readonly
    >
    <textarea 
        name="description" id="description" rows="6" 
        placeholder="Let me describe to you what is that situation..."
        class="form-control bg-transparen t"
        disabled readonly
    ></textarea>
{% endblock %}